html {
    font-size: 10px;
}
h1{ 
    font-size: 2.6rem;
    font-weight: 600;
}
h2 {
    font-size: 2.3rem;
}
p, span, li {
    font-size: 1.6rem;
}
label{
    font-size: 1.6rem;
}
input{
    font-size: 1.6rem;
}

#utilities .v-input{
    justify-content: flex-end !important;
}

#termEnd .v-input--radio-group__input{
    flex-direction: column !important;
    flex-wrap: wrap;
  }